<head>
  <link
    rel="stylesheet"
    type="text/css"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  />
</head>

<form class="upload-form" [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <h1>Upload File</h1>

    <!-- Left column for image and keywords input -->
    <div class="left-column">
      <label for="file" class="upload-label" (dragover)="handleDragOver($event)" (drop)="handleDrop($event)">
        <i class="ph ph-upload"></i>
        <span>
          Drag & drop or <span class="browse-text">browse</span> your files
        </span>
      </label>

      <input id="file" type="file" name="file" (change)="onFileSelected($event)" style="display: none;" />

      <div class="split-container">
        <!-- Left column for keywords input and image display -->
        <div class="left-column">
          <div *ngIf="imageUploaded" class="image-preview">
            <!-- Keywords input positioned above the image -->
            <div class="keywords-section">
              <label for="keywords">Keywords</label>
              <input id="keywords" type="text" [(ngModel)]="keywords" placeholder="brand, model..." />
              <button type="button" (click)="onGenerate()">Generate</button>
            </div>


            <!-- Image display with fixed size -->
            <img class="align-left" [src]="imagePreview"   />


          </div>
        </div>

        <!-- Right column for CKEditor -->
        <div *ngIf="formVisible" class="right-column">
          <ckeditor [editor]="Editor" [config]="config" [data]="data"></ckeditor>
        </div>
      </div>
    </div>
</form>

